node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
.next
out
dist
*.tsbuildinfo
next-env.d.ts
/generated/prisma
*.db
*.db-journal
.vercel
*.log
.DS_Store
Thumbs.db
